body {
  background-color: rgb(228, 229, 230);
}

.form-container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c8ced3;
  border-radius: .25rem;
}

.mat-form-field-label {
  height: 30px;
}

nb-layout-header.fixed {
  z-index: 1000 !important;
}


.mat-form-field-infix {
  width: initial !important;
}

#toast-container>div {
  opacity: 1;
}

.mat-table-container {
  height: initial !important;
}

a:hover {
  cursor: pointer;
}

.navbar-brand-full {
  height: 40px;
}

@media (min-width: 992px) {
  .header-fixed .app-header {
    z-index: 999 !important;
  }
}
